@charset "utf-8";

* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
	
	font-family:
		'Arial',
		'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3',
		'Meiryo UI',
		'Meiryo',
		'メイリオ',
		sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	color: #fff;
	background: #333;
}

main {
	
}
	main > header {
		height: 80px;
		background: #222;
	}
	main > header:after {
		content: "";
		display: block;
		clear: both;
	}
		main > header > #icon {
			float: left;
			width: 64px;
			height: 64px;
			margin: 8px;
			border-radius: 8px;
		}
		main > header > h1 {
			float: left;
			margin: 0;
			padding: 0 16px;
			line-height: 80px;
		}
		main > header > #twitter-screen-name {
			float: left;
			margin: 0;
			padding: 0 16px;
			line-height: 80px;
			color: rgba(255, 255, 255, 0.5);
		}
		main > header > #bot-status {
			float: left;
			margin: 0;
			padding: 0 16px;
			line-height: 80px;
			color: #7e0;
		}
		main > header > #bot-status:before {
			content: "\f111";
			font-family: FontAwesome;
			margin-right: 8px;
			vertical-align: bottom;
			font-size: 1.5em;
		}
		main > header > #server-name {
			float: right;
			padding: 0 32px;
			line-height: 80px;
		}
		main > header > #server-name:before {
			content: "\f233";
			font-family: FontAwesome;
			margin-right: 8px;
			vertical-align: bottom;
			font-size: 1.5em;
		}
	main > #timeline {
		
	}
		main > #timeline > .tweets {
			list-style: none;
		}
