@charset "utf-8";

* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
	
	font-family:
		'Arial',
		'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3',
		'Meiryo UI',
		'Meiryo',
		'メイリオ',
		sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	color: #fff;
	background: #333;
}

main {
	
}
	main > header {
		background: #222;
	}
	main > header:after {
		content: "";
		display: block;
		clear: both;
	}
		main > header > #icon {
			float: left;
			width: 128px;
			height: 128px;
			margin: 8px;
			border-radius: 8px;
		}
		main > header > h1 {
			float: left;
		}