doctype html

html(lang='ja', dir='ltr', itemscope, itemtype='https://schema.org/WebPage')
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='styles/home.css')
		title= bot.name
	body
		main
			header
				img#icon(src= bot.account.profile_image_url_https.replace('_normal', ''), alt='icon')
				h1= bot.name
		p test